{% extends 'base.html' %}
{% block title %}Sunucu Hatası{% endblock %}
{% block content %}
<div class="container text-center" style="padding-top: 50px; padding-bottom: 50px;">
    <h1 class="display-1">505</h1>
    <p class="lead">Üzgünüz, bir sunucu hatası oluştu.</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Ana Sayfaya Dön</a>
    <div style="margin-top: 30px;">
        <img src="{{ url_for('static', filename='images/system.png') }}" alt="505" class="img-fluid" style="max-width: 50px;">
    </div>
</div>
{% endblock %}
